@charset "utf-8";
body{
    background-color: rgb(46, 50, 54);
    font-family: Arial, Helvetica, sans-serif;

}
h1 {color: rgb(7, 7, 87);
    text-decoration: underline;}

#principal
{
text-align: center;
background-color: darkslateblue;
color: rgb(184, 184, 209);
text-decoration: none;
}

h2{color: aquamarine;}

.basico{color: green;}
.intermediario{ color: yellow;}
.avancado{color: red;}

p {color: white;}
